
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px;}
.bullet .tick text { font-size: 10px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: red; }
.bullet .measure.s1 { fill: black; }
.bullet .measure-active.s0 { fill: #def; }
.bullet .measure-active.s1 { fill: #38f; }
.bullet .title { font-size: 10px; font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.bullet .subtitle { fill: #999; }

.bullet .axis line, .bullet .axis path { opacity: 0.5;fill:none;}
