body{
    font-family: roboto;
}

#container {
  /*width:1800px;*/
  /*margin:20px auto;*/
  font-family: 'Roboto', sans-serif;
  /*padding-left:5%;*/
}
#container {
  /*padding:30px 0;*/
  clear:both;
}
#dashboard-container {
  width: 100%;
  padding-left:5px;
  float: left;
  /*overflow:scroll;*/
}
#left-menu {
    width: 15%;
    /*height: 10000;*/
    padding:5px;
    float: left;
}
.clear-fix {
  clear:both;
}

.note-text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
.map {
  width:600px;
  height:400px;
}
.pie {
  margin-left:30px;
}

h3 {
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
  color:#FF9642;
  margin-top:5px;
  margin-bottom:5px;
}

text {
  font-weight: 300;
  font-size: 10px;
  color:darkslategrey;
}

h4 {
  font-weight: 300;
  font-size: 10px;
}

.section {

}

.section-hide {
  display: none;
}

.chart-title {
  font-weight: 300;
  font-size: 15px;
  color:darkslategrey;
  padding:10px;
}

.subtitle {
  font-weight: 100;
  font-size: 12px;
  color:darkslategrey;
}

.chart-container {
  padding:5px;
  float: left;
}

.chart-cart {
  float:left;
}

#text-info .text-box{
	/*float:left;*/
	background:#ededed;
	margin:0 0 5px 5px;
	padding:5px;
	min-height:60px;
}
#text-info .header{
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

#text-info .value{
  clear: both;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.content-pannel-hidden {
  display: none;
}

.content-pannel-visible {
  visibility: visible;;
}

div#box-desc {
  max-width: 50%;
  height: 80px;
  margin: 5px;
  padding: 5px;
  border: #e7ecf1;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #f3f3f3;
  float:left;
}

div#box-sys-info {
  max-width: 100px;
  height: 80px;
  margin: 5px;
  padding: 5px;
  border: #e7ecf1;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #f3f3f3;
  float:left;
}

div#box-user-info {
  width: 100px;
  height: 80px;
  margin: 5px;
  padding: 5px;
  border: #e7ecf1;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: #f3f3f3;;
  float:left;
}

div .box-header {

}

div .box-content {
  font-size:10px;
}

i#user_icon {
  font-size:25px;
  text-align: center;
  padding:15% 35% 10% 35%;
  color:#FF9642;
}


/* ***********CAHRT SETTING CSS *****************/

div#filter-market-sector {
  float:left;
  padding: 10px;
  max-width: 250px;
  max-height: 550px;
  min-height: 380px;
  border: lightdarkslategrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

td {
  padding:10px;
  /*border-style: solid;
  border-color: grey;
  border-width: 0.5px;*/
  width: 30px;
  height: 30px;
}

th {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
}

tr {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}

table {
  margin: 0 0 40px 0;
  /*width: 100%;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-collapse: collapse;
}

/*****************************Toggle Buttons**********************/
.onoffswitch {
    position: relative; width: 95px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #C2C2C2; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 17px;
    font-size: 12px; color: white;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Hospitality";
    padding-left: 5px;
    background-color: #f3f3f3; color: #FF9642;
}
.onoffswitch-inner:after {
    content: "Residential";
    padding-right: 5px;
    background-color: #f3f3f3; color: #0078A8;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 8px; margin: 0px;
    background: #0078A8;
    position: absolute; top: 0; bottom: 0;
    right: 87px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #FF9642;
}
/*Toggle Buttons - END*/
