#container {
  width:1200px;
  margin:20px auto;
  font-family: 'Roboto', sans-serif;
}
#container>div {
  /*padding:30px 0;*/
  clear:both;
}
.map {
  width:600px;
  height:400px;
}
.pie {
  margin-left:30px;
}
#text-info .text-box{
	float:left;
	background:#ededed;
	margin:0 0 5px 5px;
	padding:5px;
	min-height:60px;
}
#text-info .header{
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

#text-info .value{
  clear: both;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.content-pannel-hidden {
  display: none;
}

.content-pannel-visible {
  visibility: visible;;
}

div#filter-market-sector {
  padding: 5px;
  max-width: 250px;
  max-height: 550px;
  min-height: 250px;
  border: lightgrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
